body {
    font-family: Arial, sans-serif; 
    margin: 0; 
}

.header-container {
    display: flex; 
    align-items: center; 
    justify-content: space-between;
    padding: 10px 20px; 
    background-color: #f8f8f8; 
    border-bottom: 2px solid #ccc; 
}

.logo {
    height: 50px;
}

.desktop-nav .nav-list {
    list-style-type: none; 
    padding: 0;
    margin: 0; 
    display: flex;
}

.nav-list li {
    margin-right: 20px;
}

.nav-list a {
    text-decoration: none; 
    color: #333; 
    font-weight: bold; 
}

.login-button {
    padding: 10px 20px; 
    border: none; 
    border-radius: 5px; 
    background-color: #007bff; 
    color: white; 
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: none;
}

.dropbtn {
    padding: 10px 20px;
    background-color: #007bff;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 14px;
    border-bottom: 1px solid #ddd;
}

.dropdown-content a:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Картки продуктів */
.product-card {
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 20px; 
    margin: 15px; 
    text-align: center; 
    width: 300px;
    position: relative; 
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

/* Ефект при наведенні */
.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
}

.product-card.new-product:before {
    content: 'Top'; 
    position: absolute;
    top: -10px; 
    right: -10px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 50%; 
    font-size: 14px;
    font-weight: bold;
}

.product-image {
    width: 100%; 
    height: auto; 
    border-radius: 8px;
}

.product-title {
    font-size: 24px;
    color: #333;
}

.price {
    font-size: 22px;
    color: #e63946;
    font-weight: bold; 
}

.buy-button {
    padding: 15px 20px;
    font-size: 18px;
    background-color: #28a745; 
    color: white; 
    border: none; 
    border-radius: 5px;
    cursor: pointer; 
    margin-top: 10px;
}

/* Адаптивні стилі */
@media (max-width: 768px) {
    .desktop-nav .nav-list {
        display: none; 
    }

    .dropdown {
        display: block;
    }

    .product-card {
        width: 100%;
    }
}